<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cureeasy">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/al"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DocChat"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".DoctorPres"
            android:screenOrientation="portrait"/>
        <activity android:name=".FetchPres"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyProfile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:436662286519" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".YoutubeActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".DoctorHome"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BarCodeScanningActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserQr"
            android:screenOrientation="portrait"/>
        <activity android:name=".DoctorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SampleChat"
            android:screenOrientation="portrait" />
        <activity android:name=".Youtube"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/al" />

        <activity android:name=".SelectUser"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Prescription"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PatientHome"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".AlarmService"
            android:exported="false" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>